<footer class="footer">

<div class="newsletter">

<h3>Suscríbete a nuestro Newsletter</h3>

<input type="text" placeholder="Tu correo">

<button>Enviar</button>

</div>

<div class="links">

<div>
<h4>Nuestros Productos</h4>
<p>Pan dulce</p>
<p>Sandwiches</p>
<p>Bebidas</p>
<p>Ensaladas</p>
</div>

<div>
<h4>Servicio al Cliente</h4>
<p>Políticas</p>
<p>Devoluciones</p>
<p>FAQ</p>
</div>

<div>
<h4>Sobre Nosotros</h4>
<p>Nuestra historia</p>
<p>Clientes</p>
<p>Contacto</p>
</div>

</div>

<div class="copy">

<h3>Samway</h3>

<p>500 calle 500, San Francisco</p>

</div>

</footer>