<div class="modal-back">
  <div class="modal-content">
    
    <div *ngIf="!pedidoConfirmado">
      <h2 class="verde-samway">Finalizar Pedido</h2>
      
      <div class="resumen-lista">
        <div class="scroll-area">
          <div *ngFor="let item of carrito" class="item-fila">
            <span>{{item.nombre}}</span>
            <span>${{item.precio}}</span>
          </div>
        </div>
        <div class="total-resumen">Total a pagar: <strong>${{total}}</strong></div>
      </div>

      <div class="form-inputs">
        <input type="text" 
               [(ngModel)]="nombre" 
               placeholder="Nombre completo (Solo letras)" 
               class="input-pro"
               [class.input-error]="nombre.length > 0 && !nombreEsValido">
        <small class="error-msj" *ngIf="nombre.length > 0 && !nombreEsValido">
           El nombre solo debe contener letras.
        </small>

        <input type="text" 
               [(ngModel)]="direccion" 
               placeholder="Dirección de entrega" 
               class="input-pro"
               [class.input-error]="direccion.length > 0 && !direccionEsValida">
        <small class="error-msj" *ngIf="direccion.length > 0 && !direccionEsValida">
           La dirección es muy corta.
        </small>
      </div>

      <div class="modal-footer">
        <button class="btn-send" 
                (click)="confirmar()" 
                [disabled]="cargando || !formularioValido"
                [style.opacity]="(cargando || !formularioValido) ? '0.5' : '1'">
          {{ cargando ? 'Enviando...' : 'Confirmar Pedido' }}
        </button>
        <button class="btn-cancel" (click)="cerrarModal()" [disabled]="cargando">Cancelar</button>
      </div>
    </div>

    <div *ngIf="pedidoConfirmado" class="exito-view">
      <div class="check-circular">✅</div>
      <h2 class="verde-samway">¡Pedido Recibido!</h2>
      <p>Gracias <strong>{{nombre}}</strong>, tu pedido se envió con éxito.</p>
      <button class="btn-send" (click)="cerrarModal()">Aceptar</button>
    </div>

  </div>
</div>